@import "input.css";
@import "searchbar.css";
@import "checkbox.css";
@import "radio.css";
@import "buttons.css";

body {
    background: #E5E5E5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}
.blocks__title {
    display: flex;
    height: 1rem;
    width: 1rem;
    color: #8055FF;
}
.container {
    position: relative;
}

.input {
    margin: 2rem;
    position: absolute;
    left: 0;
    top: 0;
}
.searchbar {
    margin: 2rem;
    position: absolute;
    left: 24rem;
    top: 0;
}

.checkbox_radio {
    margin: 2rem;
    display: flex;
    position: absolute;
    left: 24rem;
    top: 16rem;
}
.checkbox {
    margin: 2rem;
}
.radio {
    margin: 2rem;
}
.buttons {
    margin: 2rem;
    position: absolute;
    top: 28rem;
}
